:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--Light_gray);
}

main{
    margin: 15% auto;
    border-radius: 5%;
    background-color: var(--White);
    /* height: 38rem; */
    width: 23rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
}

img{
    /* margin:5% 5% 3% 5%; */
/*     instead of providing margin outside to center img provide padding in the main container. So every thing align itself inside.  */
    border-radius: 4%;
    width: 100%;
}

h2{
    text-align: center;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

article{
    padding: 1rem 0.5rem;

    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content:space-between; */
    /* margin: 5%; */
}

p{
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    color:var(--Grayish_blue);
    font-size: 16px;
}
