:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--Light_gray);
}

main{
    margin: 15% 5%;
    border-radius: 5%;
    background-color: var(--White);
    height: 80vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

img{
    margin:5% 5% 5% 5%;
    border-radius: 3%;
    max-width: 90%;
    min-width: 90%;
    max-height: 60%;
    min-height: 60%;
}

h1{
    font-weight: 700;
    text-align: center;
    margin: auto 10% 5% 10%;
}


